In [10]:
import numpy as np 
import pandas as pd 
import fix_yahoo_finance as yf

#pd.core.common.is_list_like = pd.api.types.is_list_like
#from pandas_datareader import data as web
#from pandas_datareader import data as web
from datetime import datetime
import fix_yahoo_finance

In [20]:
# Dow Jones Industrial Average Tickers
SETH = ['BIV','BLV','BND','VCIT','VFIAX','VYM','VO','VB','VWO','VSS','VGTSX','VNQ','PARWX']
DJIA = ['JNJ','UTX','IBM','CVX','PG','KO','MCD','MSFT','DIS','VZ','NKE','AAPL','INTC','FB']

# Dates
start = datetime(2017, 1, 2)
#end = datetime(2018, 1, 1)
end = datetime.today()

# Grab data, change to weekly returns and write to CSV
def getdata(listofstocks, startdate, enddate):
#     x = web.get_data_yahoo(listofstocks, startdate, enddate)['Adj Close']
    x = yf.download(listofstocks, startdate, enddate)['Adj Close']
    df = pd.DataFrame(x)
    df = df.resample('W-FRI').last().sort_index(ascending=False) #changing data to weekly
    for row in range(len(df)-1):
        df.iloc[row] = df.iloc[row].div(df.iloc[row+1]) #return
    df = df.iloc[:-1]
    df = np.log(df)  #taking log return
    df.to_csv('StockData.csv', encoding='utf-8') #write to CSV
    return(df)

data = getdata(DJIA, start, end)
print(DJIA)
print((data).head(5))

[*********************100%***********************]  14 of 14 downloaded
['JNJ', 'UTX', 'IBM', 'CVX', 'PG', 'KO', 'MCD', 'MSFT', 'DIS', 'VZ', 'NKE', 'AAPL', 'INTC', 'FB']
                AAPL       CVX       DIS        FB       IBM      INTC  \
Date
2019-02-22  0.014852  0.000335  0.023351 -0.003761  0.008800  0.015939
2019-02-15  0.000059  0.024944  0.009639 -0.029290  0.031798  0.056134
2019-02-08  0.027371 -0.006696  0.001885  0.009729  0.008671  0.008573
2019-02-01  0.054041  0.044482  0.001889  0.106226  0.000970  0.035296
2019-01-25  0.005976 -0.010106  0.000450 -0.006888  0.078787 -0.044692

                 JNJ        KO       MCD      MSFT       NKE        PG  \
Date
2019-02-22  0.001612  0.000884  0.017624  0.029355 -0.007288  0.017814
2019-02-15  0.029618 -0.089991  0.029434  0.023845  0.036012  0.007850
2019-02-08 -0.013504  0.016294 -0.011210  0.027730  0.010374  0.002459
2019-02-01  0.045506  0.027690 -0.040369 -0.041826  0.011103  0.040514
2019-01-25 -0.019003 -0.005054  0.007802 -0.005026  0.001987  0.023566

                 UTX        VZ
Date
2019-02-22  0.000078  0.031409
2019-02-15  0.048049  0.022180
2019-02-08  0.029074 -0.011060
2019-02-01  0.027005 -0.033352
2019-01-25  0.016630 -0.012160

In [14]:
start = datetime(2017, 1, 1)
#end = datetime(2018, 1, 1)
end = datetime.today()

print(start)
print(end)

2017-01-01 00:00:00
2019-02-24 12:22:59.234873

In [19]:
import fix_yahoo_finance as yf
yf.download(['JNJ','UTX'], start, end)['Adj Close']

[*********************100%***********************]  2 of 2 downloaded

                   JNJ         UTX
Date
2017-01-03  109.924828  105.261681
2017-01-04  109.744530  105.328163
2017-01-05  110.892738  105.755547
2017-01-06  110.361336  106.895264
2017-01-09  110.342361  105.898018
2017-01-10  110.228485  105.670067
2017-01-11  108.871513  105.423119
2017-01-12  108.767128  105.252182
2017-01-13  108.748138  104.682320
2017-01-17  109.004356  104.444885
2017-01-18  108.843033  104.872276
2017-01-19  108.368553  105.166710
2017-01-20  108.321114  105.223671
2017-01-23  108.093376  104.796288
2017-01-24  106.053169  106.002480
2017-01-25  107.040054  105.385147
2017-01-26  106.129074  104.815300
2017-01-27  107.590439  104.188438
2017-01-30  107.353218  103.685066
2017-01-31  107.467072  104.159958
2017-02-01  107.448105  102.744827
2017-02-02  107.770737  102.915779
2017-02-03  107.837166  104.140961
2017-02-06  107.609428  105.119209
2017-02-07  107.685333  105.660583
2017-02-08  107.609428  104.853287
2017-02-09  108.254684  104.558853
2017-02-10  109.355469  105.470612
2017-02-13  109.962769  106.391884
2017-02-14  110.418266  105.964485
...                ...         ...
2019-01-10  129.710007  109.757767
2019-01-11  129.750000  109.300476
2019-01-14  128.279999  110.195160
2019-01-15  129.360001  110.403923
2019-01-16  128.039993  110.215050
2019-01-17  129.089996  112.103821
2019-01-18  130.690002  113.227150
2019-01-22  128.800003  110.403923
2019-01-23  128.800003  116.348595
2019-01-24  127.029999  114.877335
2019-01-25  128.229996  115.125862
2019-01-28  128.990005  114.400177
2019-01-29  130.330002  117.143867
2019-01-30  131.639999  118.416313
2019-01-31  133.080002  117.372513
2019-02-01  134.199997  118.277138
2019-02-04  132.880005  118.436188
2019-02-05  132.880005  120.056557
2019-02-06  133.000000  120.643074
2019-02-07  132.050003  120.006859
2019-02-08  132.399994  121.766396
2019-02-11  132.000000  121.995041
2019-02-12  134.160004  123.247604
2019-02-13  134.449997  123.684998
2019-02-14  134.309998  124.129997
2019-02-15  136.380005  127.760002
2019-02-19  135.690002  128.639999
2019-02-20  136.350006  128.429993
2019-02-21  135.419998  126.320000
2019-02-22  136.600006  127.769997

[538 rows x 2 columns]